@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a:hover {
    box-shadow: none;
}

ul {
    list-style: none !important;
}

img {
    vertical-align: bottom;
    /* width: 100%; */
}

.container {
    max-width: 1330px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;

}

.nav_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_list {
    display: flex;
    column-gap: 40px;
}

/* .nav_link {
    padding: 50px 50px 0 0;
}  */

/* .nav_box-links {
    display: flex;

} */
.nav_box {
    padding: 20px 0px 20px 0;
}

.nav_icons {
    display: flex;
    column-gap: 30px;
}

.nav_logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 23px;
    text-transform: uppercase;
    color: #323232;
}

.nav__logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: #323232;
}

.nav_link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #323232;
}

.nav_icon {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: #323232;
}

.linya {
    border: 1px solid #323232;
    width: 100%;
}

.header_box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.header_card {
    background-color: #E1E1E1;
    min-height: 300px;
    box-shadow: 6px 6px 15px 0px #8484844D;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 0 73px 0 0;
    align-items: center;
    position: relative;
}

.header_card:nth-child(1) {
    grid-column: 1/6;
    grid-row: 1/1;
}

.header_cardd:nth-child(2) {
    grid-column: 6/13;
    grid-row: 1/3;
}

.header__card:nth-child(3) {
    grid-column: 1/6;
    grid-row: 2/3;
}

.header_price {
    width: 123px;
    height: 49px;
    background-color: #323232;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
    position: absolute;
    top: 18px;
    left: 23px;
}

.header_brbalo {
    display: flex;
    align-items: center;
    column-gap: 53px;
    justify-content: flex-end;
    /* margin-top: 20px; */
}

.card_text-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 35px;
    text-align: center;
}

.header_img {
    margin-top: 20px;
}

.header_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
}

.header_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
}

.header__price {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.79px;
    text-transform: uppercase;

}

.header__brbalo {
    display: flex;
    column-gap: 12px;
    align-items: center;
    justify-content: center;
}

.card__text-box {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    align-items: center;
    justify-content: center;
}

.header__img {
    margin-top: 25px;
}

.header__card {
    background-color: #E1E1E1;
    min-height: 300px;
    box-shadow: 6px 6px 15px 0px #8484844D;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    padding: 0 35px 0 0;
    align-items: center;
    position: relative;
}

.header_cardd {
    background-color: #E1E1E1;
    min-height: 300px;
    box-shadow: 6px 6px 15px 0px #8484844D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__text-boxx {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
    align-items: center;
    justify-content: center;
}

.header_diadema {
    display: flex;
    column-gap: 24px;
}

.header__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 16.84px;
    text-transform: uppercase;
}

.header__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 16.84px;
    letter-spacing: 0px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.titlee {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 60px;
}

.liniya {
    border: 1px solid #323232;
    width: 100%;
}

.section_card {
    height: 485px;
    max-width: 416px;
    width: 100%;
    box-shadow: 6px 6px 15px 0px #8484844D;
    background-color: #E1E1E1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.d2 {
    position: absolute;
    background-color: #FFFFFF;
    padding: 27px;
    top: 95px;
    right: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.d {
    position: absolute;
    background-color: #FFFFFF;
    padding: 27px;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.section_price {
    width: 120px;
    height: 50px;
    background-color: #323232;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
    position: absolute;
    top: 20px;
    left: 20px;
}

.section_icons {
    display: flex;
    flex-direction: column;
}

.section_icons img {
    width: 23px;
    height: 23px;
    position: absolute;
}


.section_brbalo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.section_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
}

.section_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
}

.section__price {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.section_text-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* 
.cards_scroll {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    max-width: 100%;
    display: none;
}

.cards__scroll {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    max-width: 100%;
    display: none;
} */


.section_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    /* gap: 20px; */
    padding: 20px 0px 0px 0px;
    column-gap: 14px;
    row-gap: 20px;
}

.section__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    padding: 20px 0px 0px 0px;
    column-gap: 15px;
    row-gap: 20px;
}

/* .section__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, auto); 
    gap: 20px;
    padding: 20px;
    column-gap: 24px;
    row-gap: 30px;
} */

.section__textt {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    vertical-align: middle;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 60px; */
}

.title {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.liniyaa {
    border: 1px solid #323232;
    width: 100%;
    margin-bottom: 40px;
}

.main_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    min-height: 470px;
    margin-bottom: 60px;
}

.main_card {
    background: url(../images/main-img1.png) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    border-radius: 15px;
}

.main_card:nth-child(2) {
    background: url(../images/main-img2.png) no-repeat center / cover;
    border-radius: 15px;
}

.main_advice {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    left: 20px;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323232;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
}

.main_card-box {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    margin-bottom: 60px;
}

.main_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    vertical-align: middle;
    font-variant: small-caps;
    color: #FFFFFF;
    max-width: 466px;

}

.main__title {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    /* vertical-align: middle; */
    max-width: 466px;

}

.main_text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    vertical-align: middle;
    font-variant: small-caps;
    color: #FFFFFF;
    max-width: 462px;
    width: 100%;
}

.main__text {
    color: #E1E1E1;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    vertical-align: middle;
    font-variant: small-caps;
    max-width: 466px;
    width: 100%;
}

.main__card-box {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    margin-bottom: 80px;

}

.main__advice {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    left: 20px;
    top: -47px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323232;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
}

.main_card-data {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin: 40px 0 0 57px;
}

.main__card-data {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin: 50px 0 0 57px;
}

.main_data {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
}

.footer {
    background-color: #323232;
}

.footer_box {
    display: flex;
    justify-content: flex-start;
    column-gap: 238px;
    padding: 100px 0 80px 0;
}

.footer_text-box {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer_title {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 23px;
    text-transform: uppercase;
}

.footer_link {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
}

.footer__title {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.footer__text-box {
    display: flex;
    flex-direction: column;
    row-gap: 44px;
}

.footer_titlee {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 2.2px;
    vertical-align: middle;
    text-transform: uppercase;
}

.footer_address {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 10px;
}

.footer__link {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

}

.footer__address {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
    font-variant: small-caps;
}

.footer_numbers {
    display: flex;
    column-gap: 10px;
}

.footer_number {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    font-variant: small-caps;

}

.footer__link {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    font-variant: small-caps;
}

.title_social {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.5px;
    vertical-align: middle;
    font-variant: small-caps;
}

.footer_social {
    display: flex;
    column-gap: 26px;

}

.footer_social-icon {
    width: 32px;
    height: 32px;
    color: #323232;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.footer_left-box {
    display: flex;
    justify-content: space-around;
    column-gap: 160px;
}

.nav_mobile {
    display: none;
}

.menyu_icons {
    /* padding: 8px; */
    background-color: #FFFFFF;
    font-size: 14px;
    color: #323232;
    border: 1px solid;
}

.menyu_link {
    background-color: #FFFFFF;
    font-size: 14px;
    color: #323232;
    border: 1px solid;
    border: none;
}

.menyu_icons {
    display: none;
}

.nmadur_label {
    display: none;
    background-color: #FFFFFF;
    font-size: 14px;
    color: #323232;
    border: 1px solid;
}

.nav_nmadr {
    display: none;
}

.nav_mobile_link {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.nav_mobile_link span {
    color: #242424;
    font-family: 'Montserrat';
    font-weight: 550;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
}

.nav_mobile_link img {
    filter: brightness(0) invert(100%);
}